html {
  scroll-behavior: smooth;
}

.big_icon {
    font-size: xx-large;
}

.yello-font {
    color: #f5c33d;
}


@font-face {
    font-family: essayedge;
    src: url(/essayedge.woff) format("woff");
    font-weight: 400;
    font-style: normal
}


.reviews .reviews-carousel .slick-prev:before {
    content: ""
}

.reviews .reviews-carousel [dir=rtl] .slick-prev:before {
    content: ""
}

.reviews .reviews-carousel .slick-next:before {
    content: ""
}

.reviews .reviews-carousel [dir=rtl] .slick-next:before {
    content: ""
}


@media (min-width:768px) and (min-width:576px) {
    .how-it-works .row>div:nth-child(2):after,
    .how-it-works .row>div:nth-child(2):before {
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        display: none;
            
    }
}

@media (min-width:768px) and (min-width:768px) {
    .how-it-works .row>div:nth-child(2):after,
    .how-it-works .row>div:nth-child(2):before {
        top: 37.5px;
        font-size: 1.5rem;
        display: none;
    }
}

@media (min-width:768px) and (min-width:992px) {
    .how-it-works .row>div:nth-child(2):after,
    .how-it-works .row>div:nth-child(2):before {
        top: 50px;
        font-size: 2.25rem;
        display: none;
    }
}

@media (min-width:768px) and (min-width:1200px) {
    .how-it-works .row>div:nth-child(2):after,
    .how-it-works .row>div:nth-child(2):before {
        top: 75px;
        font-size: 2.5rem;
        display: none;
    }
}

@media (min-width:768px) {
    .how-it-works .row>div:nth-child(2):before {
        margin-left: -20px;
        display: none;
    }
}

@media (min-width:768px) and (min-width:576px) {
    .how-it-works .row>div:nth-child(2):before {
        left: -12.5px;
        margin-left: 0;
        display: none;
    }
}

@media (min-width:768px) {
    .how-it-works .row>div:nth-child(2):after {
        margin-left: -20px;
        display: none;
    }
}

@media (min-width:768px) and (min-width:576px) {
    .how-it-works .row>div:nth-child(2):after {
        right: -12.5px;
        margin-left: 0;
        display: none;
    }
}


.pricing .package .tab-content>ul li:before {
    font-family: "Font Awesome 5 Free"!important;
    content: "\f00c";
    font-weight: 900;
    display: none;
}

.pricing .package .tab-content>ul {
    padding-left: 0px;}
    
.bg-bright {
  background: linear-gradient(to right, #7c40ff, #f1806b) !important; 
}

.bg-yellow {
    background: #ffdb6d !important;
    color: dimgray;
}

.white-text {
    color: white !important
}


.pros{
    color: limegreen;
}

.cons{
    color: #ee6248;
}


.fancybutt {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #ee786e 0%, #7c40ff 50%, #ee786e 100%);
  background: linear-gradient(to right, #ee786e 0%, #7c40ff 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}

.fancybutt:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.whitebutt {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #fff 0%, #ffdb6d 50%, #fff 100%);
  background: linear-gradient(to right, #fff 0%, #ffdb6d 50%, #fff 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #f1806b;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}

.whitebutt:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}